{% load static %}
<link rel="stylesheet" href="{% static 'todo/style.css' %}">

<header> TO-DO List </header>
{% if task_list %}
    <ul>
        <table class="center">
            <tr>
                <th> Task Name </th>
                <th> Task Description </th>
                <th> Completion </th>
            </tr>
            {% for task in task_list %}
                <tr>
                    <th> {{task.task_name}} </th>
                    <th> {{task.description}}</th>
                    <th><a href="delete/{{task.id}}">delete</a> </th>
                </tr>
            {% endfor %}
        </table>
    </ul>
{% else %}
    <p> No tasks are avaiable.</p>
{% endif %}

<button type="button">Add Task</button>